<div>
  | {{#link-to 'pie-chart-demo'}}Pie Chart{{/link-to}}
  | {{#link-to 'bar-chart-demo'}}Bar Chart{{/link-to}}
  | {{#link-to 'value-range-chart-demo'}}Value Range Chart{{/link-to}}
  |
</div>
<br>
<div>
  {{outlet}}
</div>