<div id="pie-chart-no-data">
  {{pie-chart}}
</div>

<div id="pie-chart-single-entry">
  {{pie-chart
    slices=singleEntry
  }}
</div>

<div id="pie-chart-multi-entry">
  {{pie-chart
    slices=multiEntry
  }}
</div>

<div id="pie-chart-limited-entry">
  {{pie-chart
    slices=multiEntry
    slicesMax=4
  }}
</div>